@media screen and (min-width: 1153px) { .ixmore:hover { background: #fff; color: #b32521; }
  .h-link:hover { background: #b32521; color: #fff; }
  .nav a:hover { color: #b32521; }
  .nav a:hover:before { left: 0; right: auto; width: 100%; }
  .banner-pro a:hover { background: #b32521; }
  .in-nav li:hover { background: #b32521; }
  .in-sp:hover .nowti { color: #b32521; }
  .in-list a:hover .date, .in-list a:hover { color: #b32521; }
  .in-list a:hover .nowti:before { background: #b32521; }
  .ix-video:hover .aico { -webkit-transform: scale(0.95); transform: scale(0.95); }
  .ip-nav a:hover { color: #b32521; }
  .ir-arrow .slick-arrow:hover { background-color: #b32521; }
  .ir-title:hover { background: #b32521; color: #fff; }
  .ir-title:hover .ir-plus:before, .ir-title:hover .ir-plus { background: #fff; }
  .ir-list a:hover { background: #f2f2f2; color: #b32521; }
  .ir-list a:hover .date { color: #b32521; }
  .ir-book .picbox:hover { color: #b32521; }
  .ib-list a:hover { color: #b32521; }
  .ib-list a:hover .pic2:after { border-color: #b32521; } }
@media screen and (max-width: 1600px) { .container { min-height: 800px; } }
@media screen and (max-width: 1366px) { .container { min-height: 600px; } }
@media screen and (max-width: 1024px) { .vwrap .videobox { width: 700px; margin-left: -350px; }
  .pw { width: 90%; }
  .fixbg { background-attachment: scroll; }
  .menu-handler { display: block; }
  .mcv { display: block; } }
@media screen and (max-width: 861px) { .vwrap .videobox { width: 100%; left: 0; margin-left: 0; } }
@media screen and (max-width: 641px) { .vwrap .videobox { height: 350px; margin-top: -175px; } }
@media screen and (max-width: 481px) { .vwrap .videobox { height: 300px; margin-top: -150px; }
  .container { min-height: 400px; } }
@media screen and (max-width: 321px) { .vwrap .videobox { height: 260px; margin-top: -130px; } }
