@media screen and (min-width:1153px) {
  .ixmore:hover { background: #b32521; color: #fff; }
  .h-link:hover { background: #b32521; border-color: #b32521; color: #fff; }
  .nav a:hover { color: #b32521; }
  .nav a:hover:before { left: 0; right: auto; width: 100%; }
  .banner-pro a:hover { color: #fff; background: #b32521;  }
  .banner-pro a:hover .ico{ background-position: center bottom; -webkit-transform: rotateY(180deg); transform: rotateY(180deg);  }
  .in-nav li:hover { background: #b32521; }
  .in-sp:hover .nowti { color: #b32521; }
  .in-list a:hover .date, .in-list a:hover { color: #b32521; }
  .in-list a:hover .nowti:before { background: #b32521; }
  .ix-video:hover .aico { -webkit-transform: scale(0.95); transform: scale(0.95); }
  .ip-nav a:hover { color: #b32521; }
  .ir-arrow .slick-arrow:hover { background-color: #b32521; }
  .ir-title:hover { background: #b32521; color: #fff; }
  .ir-title:hover .ir-plus:before, .ir-title:hover .ir-plus { background: #fff; }
  .ir-list a:hover { background: #f2f2f2; color: #b32521; }
  .ir-list a:hover .date { color: #b32521; }
  .ib-list a:hover { color: #b32521; }
  .ib-list a:hover .pic2:after { border-color: #b32521; }
  .footer a:hover { color: #b32521; }
  .share a:hover { background-position: center bottom; }
  .pnav a:hover { background: #b32521; color: #fff; }
  .bus-list li:hover:after { width: 100%; }
  .bus-list li:hover .ch { color: #b32521; }
  .bus-list li:hover { background: #f9f9f9; }
  .bus-list li:nth-child(2n-1) .pic { float: right; }
  .ab-nav a:hover:before { width: 100%; left: 0; right: auto; }
  .ab-nav a:hover { color: #b32521; }
  .cua-a:hover .txts { height: 180px; background: #b32521; }
  .cua-a:hover .tx { margin-top: 30px; color: #fff; }
  .cua-a:hover .date { color: #fff; }
  .cua-a:hover .line { background: #fff; }
  .cua-a:hover .cover { opacity: 1; visibility: visible; }
  .cua-a:hover .plus-ico { -webkit-transform: none; transform: none; opacity: 1; visibility: visible; }
  .pager a:hover { background: #b32521; color: #fff; border-color: #b32521; }
  .ab-more:hover { background: #999; }
  .iac-line-hover:hover .line-3, .iac-line-hover:hover .line-1 { width: 100%; }
  .iac-line-hover:hover .line-2, .iac-line-hover:hover .line-4 { height: 100%; }
  .pjc-cta-list a:hover .ico { -webkit-transform: translateY(-20%); transform: translateY(-20%); }
  .pjc-cta-list a:hover { color: #b32521; }
  .news-a:hover { border-color: #b32521; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2); box-shadow: 0 0 8px rgba(0, 0, 0, .2); }
  .news-a:hover .nowti { color: #b32521; }
  .news-a:hover .nw-date { background: #b32521; }
  .cnw-a:hover { -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2); box-shadow: 0 0 8px rgba(0, 0, 0, .2); -webkit-transform: translateY(-15px); transform: translateY(-15px); }
  .cnw-a:hover .more, .cnw-a:hover .tx1 { color: #b32521; }
  .nw-more-hover:hover .nw-more { background: #b32521; border-color: #b32521; color: #fff; }
  .pnw-a:hover { border-color: #b32521; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2); box-shadow: 0 0 8px rgba(0, 0, 0, .2); }
  .pnw-a:hover .pnw-date .aico { opacity: 1; visibility: visible; }
  .pnw-a:hover .nowti { color: #b32521; }
  .share_2 a:hover { background-position: center bottom; background-color: #b32521; border-color: #b32521; }
  .nd-back .arrow:hover { color: #b32521; }
  .back:hover { background: #999; }
  .pro-nav a:hover:after, .pro-nav a:hover:before { -webkit-transform: none; transform: none; opacity: 1; visibility: visible; }

  /* .pro-a:hover .ti1{-webkit-transform: translateY(100%);transform: translateY(100%); opacity: 0; visibility: hidden; }
  .pro-a:hover .txts{ -webkit-transform: none; transform: none; opacity: 1; visibility: visible; } */
  .pro-imgs .slick-arrow:hover { background-color: #b32521; border-color: #b32521; }
  .pd-back .next:hover, .pd-back .prev:hover { color: #b32521; }
  .pd-back .next:hover .bico, .pd-back .prev:hover .bico { background-color: #b32521; border-color: #b32521; }
  .pd-back .next:hover .bico { background-position: -40px 0px; }
  .pd-back .prev:hover .bico { background-position: 0 -40px; }
  .pd-back .back2:hover { background: #b32521; color: #fff; }
  .par1 .ir-list a:hover .nowti:before { background: #b32521; }
  .bid-a:hover .nw-date { background: #b32521; }
  .bid-a:hover .nowti { color: #b32521; }
  .bid-a:hover .bid-more { background: #b32521; }
  .wtb-list li:hover .ti { background: #b32521; }
  .wtb-list li:hover { -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2); box-shadow: 0 0 8px rgba(0, 0, 0, .2); }
  .job-list a:hover { color: #b32521; }
  .job-list li:hover .t { background: #b32521; }
  .job-more a:hover { background: #b32521; border-color: #b32521; color: #fff !important; }
  .jb2 a:hover { color: #b32521; }
  .jb2 .set-email a:hover { text-decoration: none; }
  .iv-table a:hover { color: #b32521; }
  .iv1 .inv-a:hover { text-decoration: none; }
  .iv-a:hover .nw-date { background: #b32521; }
  .iv-a:hover .txts { border-color: #b32521; }
  .iv-a:hover .bico { background-position: 0px -80px; }
  .book-list .btn:hover { border-color: #b32521; background: #b32521; color: #fff; }
  .book-list .btn-1:hover .ico { background-position: left bottom; }
  .book-list .btn-2:hover .ico { background-position: right bottom; }
}
@media screen and (min-width:1025px) {
  .cur-list li:before { content: ""; position: absolute; top: auto; bottom: 0; left: 0; width: 100%; height: 0; background: #b32521; -webkit-transition: 600ms; transition: 600ms; }
  .cur-list li:hover:before { height: 100%; top: 0; bottom: auto; }
  .cur-list li:hover { padding-top: 115px; }
  .cur-list li:hover .txx, .cur-list li:hover .line { opacity: 1; visibility: visible; }
  .cur-list .txx, .cur-list .line { opacity: 0; visibility: hidden; -webkit-transition: 400ms; transition: 400ms; }
}
@media screen and (min-width:861px) {
  .pnav a.act { background: #b32521; color: #fff; }
}
@media screen and (max-width:1700px) {
  .bus-list .bus-ti { margin-bottom: 50px; }
  .bus-list .txts { padding-top: 70px; }
}
@media screen and (max-width:1600px) {
  .container { min-height: 800px; }
  /* .banner .ch { font-size: 50px; } */
  /* .banner .txts { top: 35%; } */
  .ix-pro { height: 530px; }
  .ix-pro .ip-nav-box, .ix-pro .txts { bottom: 32%; }
  .ab1 { padding: 110px 0 170px 0; }
  .ab-intro { padding: 215px 0 190px 0; }
  .ab2 { padding: 120px 0 160px 0; }
  .bus-list .bus-ti { margin-bottom: 40px; }
  .bus-list .txts { padding-top: 50px; }
}
@media screen and (max-width:1440px) {
  .bus-list .txts { font-size: 14px; }
  .bus-list .bus-ti .ch { font-size: 24px; }
  .bus-list .bus-ti { margin-bottom: 30px; }
}
@media screen and (max-width:1366px) {
  .container { min-height: 600px; }
  .banner .ch { font-size: 60px; }
  .banner .ti { font-size: 16px; }
  .banner .en { margin-top: 20px; }
  .pw { width: 1000px; }
  .h-link i { display: none; }
  .h-link { width: 32px; }
  .mtop,
  .header{ height: 72px; }
  .header .logo{ margin-top: 15px; }
  .nav a { padding: 24px 17px; }
  .header .h-link{ margin-top: 24px;  }
  .in-nav li { padding: 14px 25px 14px 45px; font-size: 14px; }
  .in-sp .pic { width: 200px; }
  .in-sp .tx { margin-top: 10px; }
  .in-sp .date { margin-top: 18px; }
  .ix-news .in-nav { margin-bottom: 30px; }
  .ix-news .in-sp { padding-bottom: 25px; margin-bottom: 10px; }
  .ix-video-box .txts { height: 170px; }
  .ix-video-box .tx { height: 72px; }
  .ix-pro { height: 430px; }
  .ix-pro .ip-nav-box, .ix-pro .txts { left: 65px; right: 65px; bottom: 30%; }
  .ir-txts, .ir-book, .ir-build { height: 287px; }
  .ir-list a, .ir-list .nowti { line-height: 34px; }
  .ir-txts .ir-title { margin-bottom: 15px; }
  .ir-ti { font-size: 16px; }
  .ib-list .pic2 { width: 66px; }
  .ib-list .nowti { margin-top: 8px; font-size: 12px; }
  .f-nav a + a { margin-left: 25px; }
  .ab1 { padding: 80px 0 140px 0; }
  .ab2 { padding: 100px 0 140px 0; }
  .ab-intro { padding: 195px 0 170px 0; }
  .h-item .pic { width: 142px; }
  .ab5 { padding-top: 90px; }
  .ab6 { padding: 90px 0 70px 0; }
  #map { height: 510px; }
  .news-a .nw-date { margin-left: 50px; }
  .cnw-list { margin-left: -35px; }
  .cnw-list .cnw-a { margin-left: 35px; }
  .cnw-a .tx1 { font-size: 18px; }
  .pnw-a .nw-more { margin-top: 55px; }
  .pro-a .txts { padding-top: 30%; }
  .pro2 { padding-left: 25px; padding-right: 25px; }
  .par1 { padding: 90px 0 120px 0; }
  .par1 .ir-list { margin-top: 65px; }
  .par1 .pager { margin-top: 85px; }
  .job-list .jw1 .nowti { padding-left: 40px; }
  .job-list .b { padding: 28px 40px 55px 40px; }
  .jb1 { padding: 90px 0 100px 0; }
  .iv-table td { padding: 10px 25px; }
  .iv1 { padding: 80px 0 120px 0; }
  .iv1 .iv-table { margin-bottom: 30px; }
  .pnav a { padding: 17px 30px; }
  .ab6 .book-list { margin-bottom: 30px; }
  /* .banner .txts { top: 32%; } */
}
@media screen and (max-width:1281px) {
  .ix-pro .txts { margin-bottom: 60px; }
  .ip-nav { padding-bottom: 20px; }
  .ix-pro .ip-nav-box, .ix-pro .txts { bottom: 22%; }
  .bus-list .txts { padding-top: 40px; }
  .bus-list .bus-ti .ch { font-size: 20px; }
  .bus-list .bus-ti .en { font-size: 12px; }
  .bus-list .bus-ti { margin-bottom: 25px; }
}
@media screen and (max-width:1201px) {
  .bus-list { width: 960px; max-width: 90%; margin: 0 auto; }
  .bus-list li:nth-child(2n-1) .pic { float: none; }
  .bus-list .pic, .bus-list .txts { float: none; width: 100%; }
  .bus-list .txts { padding: 80px 5%; font-size: 15px; }
  .bus-list .bus-ti .ch { font-size: 24px; }
  .bus-list .bus-ti .en { font-size: 14px; }
  .bus-list .bus-ti { margin-bottom: 70px; }
  .bus-list li { background: #f9f9f9; }
  .bus-list li + li { margin-top: 60px; }
  .ab3 { padding: 80px 0 140px 0; }
}
@media screen and (max-width:1153px) {
  .ix-pro .ip-nav-box, .ix-pro .txts { left: 45px; right: 45px; }
}
@media screen and (max-width:1024px) {
  .vwrap .videobox { width: 700px; margin-left: -350px; }
  .pw { width: 90%; }
  .fixbg { background-attachment: scroll; }
  .menu-handler { display: block; }
  .banner .more, .header:before, .header:after, .header .h-link, .header .nav { display: none; }
  .header .pw { width: 100%; }
  .header { top: 0; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  .header, .mtop { height: 60px; }
  .banner { margin-top: 60px; }
  .header .logo { position: absolute; left: 5%; top: 50%; margin: 0; -webkit-transform-origin: left center; transform-origin: left center; -webkit-transform: translateY(-50%) scale(0.8); transform: translateY(-50%) scale(0.8); -webkit-transition: none; transition: none; }
  .banner .pic2 { position: relative; }

  .banner .txts { top: 33%; }
  .banner .ch { font-size: 42px; }
  .banner .en { margin-top: 15px; }
  .ix-pro li, .ix-video-box, .ix-news { float: none; width: 100%; }

  .ix-video-box{ overflow: hidden; margin-top: 35px; background: #b32521; }
  .ix-video { margin-left: 0; width: 382px; float: left;   }
  .ix-video-box .txts{ margin-left: 0; overflow: hidden;  }
  .in-sp .nowti, .in-sp .tx { width: 460px; }
  .ix-pro .ip-a { background-image: none !important; }
  .ix-pro { height: auto; }
  .ix-pro .pic { display: block; }
  .ir-item:first-child, .ix-pro li:nth-child(2) { width: 100%; }
  .ix-pro .en, .ix-pro .ip-nav { -webkit-transform: none; transform: none; opacity: 1; visibility: visible; }
  .footer .r, .f-nav, .ip-nav .ip-aw { display: none; }
  .ip-nav { text-align: left; padding-right: 0; }
  .ix-pro .txts { margin-bottom: 110px; }
  .ix-pro .ip-nav-box, .ix-pro .txts { bottom: 30%; left: 5%; right: 5%; }
  .ir-item { width: 50%; }
  .ir-build .ir-imgs { width: 408px; }
  .ir-book, .ir-txts { height: 350px; }
  .ir-build { height: auto; }
  .ir-build .ir-txts { float: none; width: auto; }
  .ir-list a, .ir-list .nowti { line-height: 40px; }
  .ir-txts .ir-title { margin-bottom: 20px; }
  .footer .f-cop { margin-top: 0; }
  .footer { padding: 25px 0; }
  .banner .txts { min-height: 0; }
  .ix-pro .ico, .ix-pro .ch { width: auto; }
  .pnav .pw { width: 100%; }
  .pnav a { padding: 15px 25px; }
  .pbanner .line { display: none; }
  .pbanner .txts { top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
  .ab-num li { margin: 0 30px; }
  .ab-num .num i { font-size: 44px; }
  .ab-intro { padding: 175px 0 150px 0; }
  .cur-list li:before { display: none; }
  .cur-list li { padding-top: 115px; }
  .cua-list a { margin-left: 25px; }
  .cua-list { margin-left: -25px; }
  .cua-list li { margin-bottom: 35px; }
  .cua-a .txts { position: relative; }
  .cua-a { padding-bottom: 0; }
  .cua-h { height: 140px; }
  .h-item .pic { width: 182px; float: none; margin-right: 0; margin-bottom: 20px; max-width: 100%; }
  .rem-list li { margin-bottom: 25px; }
  .rem-tx { margin-bottom: 25px; padding-bottom: 75px; }
  .pjc-cta-list a { font-size: 16px; }
  .pjc-cta-list .tx { margin-top: 20px; }
  .ab7 #map { margin-top: 85px; }
  .cnw-list { margin-left: -20px; }
  .cnw-list .cnw-a { margin-left: 20px; }
  .cnw-list li { margin-bottom: 35px; }
  .ab6 .cnw-list { margin-bottom: 35px; }
  .pnw-list { overflow: hidden; margin-left: -25px; }
  .pnw-list li { width: 50%; float: left; margin-bottom: 35px; }
  .pnw-list a { margin-left: 25px; }
  .pnw-a .pic { width: 100%; float: none; }
  .pnw-a .txts { width: 100%; float: none; padding: 25px 5% 0 5%; height: 260px; }
  .pnw-list li + li { margin-top: 0; }
  .pnw-list li:nth-child(2n) .pnw-a .pic { float: none; }
  .pnw-a .pnw-date { position: static; margin-bottom: 10px; }
  .pnw-date { background: none; width: auto; height: auto; color: #999; text-align: left; }
  .pnw-date .d { display: inline; margin: 0; font-size: 12px; }
  .pnw-date .d:before { display: none; }
  .pnw-date .y { position: static; }
  .pnw-date .y i { display: inline; }
  .pnw-a .nowti { padding-right: 0; }
  .pnw-a .tx { margin-top: 25px; }
  .pnw-a .nw-more { margin-top: 35px; }
  .ab6 .pnw-list { margin-bottom: 35px; }
  .nd-box { padding-left: 5%; padding-right: 5%; padding-bottom: 100px; }
  .nw1 { padding-bottom: 120px; }
  .share_2 { display: none; }
  .pro-a .txts { display: none; }
  .pro2 { padding-left: 5%; padding-right: 5%; padding-bottom: 100px; }
  .pro-list li { width: 33.33%; }
  .pro2 .pro-list { margin-bottom: 40px; }
  .pro3 { padding-bottom: 155px; }
  .pro3 .pd-back { margin-top: 145px; }
  .par1 .pnw-list li { width: 100%; float: none; margin-bottom: 0; }
  .par1 .pnw-a .pic { display: none; }
  .bid-a { padding-left: 0; padding-right: 0; }
  .wtb-list .freeTx, .wtb-list .ti { padding-left: 5%; padding-right: 5%; }
  .wtb-list .ti { font-size: 18px; }
  .book-list .pic { width: 125px; margin-right: 25px; }
  .book-list .mg { padding: 25px; }
  .book-list .btn + .btn { margin-top: 10px; }
  .book-list .btn { margin-top: 30px; }
  .pbanner .ch { font-size: 40px; }
  .pbanner .en { margin-bottom: 5px; }
  .banner .line { display: none; }
  .ix-pro .txts { margin-bottom: 0; bottom: 50%; -webkit-transform: translateY(50%); transform: translateY(50%); }
  .pro3 .ab-ti{ float: none; width: 100% !important; }
  .ab-see{ display: block; float: none; line-height: 1.8; font-size: 12px;  margin: 3px 0 0 0; }
}
@media screen and (max-width:861px) {
  .vwrap .videobox { width: 100%; left: 0; margin-left: 0; }
  .banner-pro { position: relative; background: #555; }
  .banner .slick-dots a { display: none; }
  .banner .slick-dots { left: 0; right: 0; top: auto; bottom: 5%; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; }
  .banner .slick-dots li { display: inline-block; margin: 0 5px; }
  .banner .slick-dots li + li { margin-top: 0; }
  .banner .txts { top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
  .banner .ch { font-size: 36px; }
  .banner .en { font-size: 12px; margin-top: 10px; }
  .banner .ti { font-size: 14px; }
  .in-sp .nowti, .in-sp .tx { width: auto; }
  .ix-video { width: 302px; }
  .ix-pro .ip-nav-box{ bottom: 20%; }
  .ir-build .ir-imgs { width: 308px; }
  .ir-list a, .ir-list .nowti { line-height: 32px; }
  .ir-txts .ir-title { margin-bottom: 15px; }
  .ir-title .nowti { line-height: 48px; }
  .ir-book, .ir-txts { height: 300px; }
  .ir-book .ib-list { margin-top: 25px; }
  .mcv { display: block; color: #333; font-weight: bold; }
  .pnav { position: relative; border-bottom: 1px solid #ccc; }
  .pnav ul { position: absolute; left: 0; right: 0; z-index: 99; top: 100%; margin-top: 1px; background: #f2f2f2; overflow: hidden; display: none; }
  .pnav li { width: 50%; float: left; }
  .ab-num { overflow: hidden; }
  .ab-num li { width: 50%; margin: 0; float: left; margin-bottom: 30px; }
  .ab-num .num i { font-size: 50px; }
  .ab1 > .rel { padding-bottom: 100px; }
  .cur-list li { width: 50%; }
  .cur-list li { padding-top: 75px; height: 320px; }
  .cua-list li { width: 50%; }
  .ab4 .cua-list { margin-top: 70px; margin-bottom: 45px; }
  .cua-h { height: 120px; }
  .rem-list li { width: 33.33%; }
  .pjc-cta-list li { display: block; }
  .pjc-cta-list .tx { text-align: center; }
  .pjc-cta-list li + li { margin-left: 0; margin-top: 35px; }
  .ab7 #map { margin-top: 75px; }
  .news-a .tx { height: auto; }
  .news-a { height: auto; padding: 35px 5%; }
  .news-a .nowti { font-size: 18px; }
  .ab6 { padding-top: 80px; }
  .news-a .nw-date { margin-left: 30px; }
  .cnw-list li { width: 50%; }
  .nd-back .back { position: static; margin-top: 35px; }
  .nd-back { padding-right: 0; }
  .pro-a .ti1 { left: 5px; right: 5px; bottom: 5px; line-height: 44px; }
  .pro-a { font-size: 14px; }
  .pro-nav li + li { margin-left: 0; }
  .pro-nav li { width: 33.33%; margin-bottom: 35px; }
  .pro-nav a { margin: 0 auto; text-align: center; }
  .pro-nav { width: 420px; text-align: left; }
  .pro1 { padding-bottom: 25px; }
  .pro3 .freeTx { margin-top: 65px; }
  .pro3 .pd-back { margin-top: 125px; }
  .pro3 { padding-bottom: 135px; }
  .par1 .ir-list { margin-top: 45px; }
  .par1 .pager { margin-top: 65px; }
  .par1 { padding: 70px 0 100px 0; }
  .par1 .bid-list { margin-top: 70px; }
  .wtb-list .ti { font-size: 16px; }
  .job-list .jw2, .job-list .jw4 { display: none; }
  .job-list .jw1 { width: 30%; }
  .job-list .jw3 { width: 24%; }
  .job-list .jw5 { width: 26%; }
  .job-list .jw6 { width: 20%; }
  .iv-table td { padding: 10px 15px; }
  .book-list .pic { display: none; }
  .banner-pro a{ color: #fff;  }
  .banner-pro .ico{ background-position: center bottom; }
  
}
@media screen and (max-width:641px) {
  .vwrap .videobox { height: 350px; margin-top: -175px; }
  .in-sp .pic { display: none; }
  .in-nav li { width: 25%; padding-left: 0; padding-right: 0; text-align: center; }
  .in-nav li:before { display: none; }
  .ix-video{ width: 100%; float: none; }
  .ip-nav-box { display: none; }
  .ir-item, .ir-build .ir-imgs { float: none; width: 100%; }
  .ir-book, .ir-txts { height: auto; padding-bottom: 25px; }
  .ir-list a, .ir-list .nowti { line-height: 38px; }
  .ir-title .nowti { line-height: 52px; }
  .ir-txts .ir-title { margin-bottom: 20px; }
  .ib-list .pic2 { width: 80px; }
  .pbanner .pic2 img { display: none; }
  .pbanner .pic2 { height: 300px; background-repeat: no-repeat; background-size: cover; background-position: center center; }
  .h-item .aw, .h-item .dot { display: none; }
  .h-item li { width: 100%; float: none; }
  .h-item .item1 { margin-top: 0; padding: 0; }
  .h-item .item2 { padding: 0; }
  .h-item .clearfix { padding-left: 5%; padding-right: 5%; }
  .h-item { padding-top: 60px; }
  .news-a .nw-date { float: none; margin-left: 0; margin-bottom: 10px; }
  .nw-date { width: auto; height: auto; background: none; color: #999; }
  .nw-date .y { position: static; font-size: 12px; }
  .nw-date .y i { display: inline; }
  .nw-date .d { display: inline; font-size: 12px; margin: 0; }
  .pnw-a .nowti { font-size: 18px; }
  .nd-box .t { padding-bottom: 40px; margin-bottom: 50px; }
  .nw1 { padding-bottom: 100px; }
  .nd-box { padding-bottom: 80px; }
  .nd-box .nd-back { margin-top: 115px; }
  .nd-back { padding-top: 30px; }
  .pro-list li { width: 50%; }
  .pro2 { padding-top: 70px; }
  .pro3 .pd-back { margin-top: 105px; }
  .pro3 { padding-bottom: 115px; }
  .par1 .pnw-a .pic { display: block; }
  .bid-a .nw-date { float: none; margin-right: 0; margin-bottom: 10px; }
  .par1 .bid-select { float: none; }
  .par1 .bid-list { margin-top: 50px; }
  .iv-a .nw-date { float: none; height: auto; margin-right: 0; }
  .iv-a .txts { border: none; padding: 0; overflow: visible; position: static; }
  .iv-a { border: 1px solid #ccc; padding: 25px 5%; position: relative; }
  .iv-a .nowti { width: 100%; line-height: 1.4; margin-top: 10px; }
  .iv-a .bico { top: 5px; right: 5px; margin: 0; -webkit-transform-origin: right top; transform-origin: right top; -webkit-transform: scale(0.7); transform: scale(0.7); }
  .book-list .pic { display: block; }
  .book-list li { width: 100%; }
  .book-list .mg, .book-list { margin-left: 0; }
  .book-list .mg { padding-left: 5%; padding-right: 5%; }
}
@media screen and (max-width:601px) {
  .banner .ch { font-size: 30px; }
  .ab-ti { font-size: 24px; }
  .ab-intro .txx { font-size: 20px; }
  .bus-list .bus-ti { margin-bottom: 50px; }
  .bus-list .txts { padding: 60px 5%; }
  .rem-list li { width: 50%; }
  #map { height: 410px; }
  .pnw-list li { float: none; width: 100%; }
  .pnw-list a, .pnw-list { margin-left: 0; }
  .pi-num { left: auto; top: 0; bottom: auto; font-size: 14px; width: 50px; }
  .pi-num .cnum { font-size: 16px; }
  .pro-imgs .slick-arrow { bottom: 50%; margin-bottom: -16px; border-radius: 0; background-color: rgba(200, 33, 38, .8); border-color: rgba(200, 33, 38, .8); }
  .pro-imgs .slick-next { right: 0; margin-right: 0; }
  .pro-imgs .slick-prev { left: 0; margin-left: 0; }
  .pd-back .back2 { position: relative; top: 0; left: 0; margin-left: auto; margin-right: auto; clear: both; }
  .pd-back .next, .pd-back .prev { margin-bottom: 35px; }
  .job-list .jw3 { display: none; }
  .job-list .jw1 { width: 38%; }
  .job-list .jw5 { width: 34%; }
  .job-list .jw6 { width: 28%; }
  .job-list .jw1 .nowti { padding-left: 25px; }
  .job-list .b { padding-left: 25px; padding-right: 25px; }
  .jb1 { padding: 80px 0; }
}
@media screen and (max-width:481px) {
  .vwrap .videobox { height: 300px; margin-top: -150px; }
  .container { min-height: 400px; }
  .banner .ch { font-size: 24px; }
  .banner .ti { font-size: 12px; margin-bottom: 5px; }
  .in-list .nowti:before, .banner .en { display: none; }
  .in-sp .nowti { font-size: 16px; }
  .in-list .nowti { padding-left: 0; }
  .ix1 { padding: 45px 0; }
  .ix-pro .ch { font-size: 18px; margin-top: -5px; }
  .ix-pro .en { font-size: 14px; margin-top: 5px; }
  .ix-pro .ico { -webkit-transform-origin: left top; transform-origin: left top; -webkit-transform: scale(0.8); transform: scale(0.8); }
  .ix3 { padding: 45px 0 10px 0; }
  .ib-list .pic2 { width: 70px; }
  .pbanner .pic2 { height: 180px; }

  /* .pbanner .txts {font-size: 24px; } */
  .pbanner .ch { font-size: 30px; }
  .ab-ti { width: 240px; font-size: 22px; margin-left: auto; margin-right: auto; max-width: 100%; }
  .ab-num .num i { font-size: 36px; }
  .ab1 .ab-num { margin-top: 45px; }
  .ab1 > .rel { padding-bottom: 70px; }
  .ab-intro .txx { font-size: 18px; }
  .ab-intro { padding: 95px 0; }
  .ab1 .ab-intro { margin-bottom: 50px; }
  .ab3, .ab2, .ab1 { padding: 50px 0; }
  .bus-list .bus-ti .ch { font-size: 22px; }
  .bus-list .bus-ti { margin-bottom: 30px; }
  .bus-list .txts { padding: 45px 5%; }
  .bus-list li + li { margin-top: 40px; }
  .ab4 .cua-list, .ab4 .ab-ti { margin-top: 50px; }
  .ab4 .ab-tx { margin-top: 15px; }
  .ab4 .cur-list { margin-top: 35px; }
  .cur-list li { width: 100%; float: none; border-left: none; height: auto; padding-top: 55px; padding-bottom: 55px; }
  .cua-list li { width: 100%; float: none; }
  .cua-list a, .cua-list { margin-left: 0; }
  .cua-list li { margin-bottom: 30px; }
  .pager .arrow { display: none; }
  .ab4 .cua-list { margin-bottom: 20px; }
  .cua-h { height: 60px; }
  .h-item li { margin-bottom: 30px; }
  .h-item { padding-top: 40px; padding-bottom: 30px; }
  .bus-ti .ch { font-size: 24px; }
  .his-box { padding-top: 60px; }
  .ab5 { padding: 50px 0 55px 0; }
  .rem-list .rem-a { margin-left: 15px; }
  .rem-list { margin-left: -15px; }
  .rem-tx .bus-ti .ch { font-size: 20px; }
  .bus-ti .line { width: 30px; }
  .rem-tx .bus-ti { margin-bottom: 30px; }
  .rem-tx { padding-top: 45px; padding-bottom: 50px; }
  .ab6 { padding: 50px 0 30px 0; }
  .ab7 { padding-top: 45px; }
  .ab7 .pjc-cta-list { margin-top: 40px; }
  .ab7 #map { margin-top: 40px; }
  #map { height: 310px; }
  .news-a .nowti { font-size: 16px; }
  .ab6 .news-list { margin-bottom: 45px; }
  .cnw-list li { float: none; width: 100%; }
  .cnw-list .cnw-a, .cnw-list { margin-left: 0; }
  .cnw-a .tx1 { height: auto; line-height: 1.4; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
  .cnw-a .tx2 { margin-top: 15px; }
  .cnw-a .more { margin-top: 30px; }
  .cnw-a .txts { height: 210px; }
  .ab6 .cnw-list { margin-bottom: 10px; }
  .pnw-list li { margin-bottom: 30px; }
  .ab6 .pnw-list { margin-bottom: 15px; }
  .nd-box .t { padding-bottom: 20px; margin-bottom: 30px; }
  .nd-box .nd-back { margin-top: 95px; }
  .nd-back { padding-top: 20px; }
  .nd-back .back { margin-top: 25px; }
  .nd-box { padding-bottom: 50px; }
  .nw1 { padding-bottom: 55px; }
  .pro-nav { width: 320px; }
  .pro-nav a { width: 80px; height: 80px; }
  .pro-nav .ti { padding: 0 5px; }
  .pro1 { padding-bottom: 10px; }
  .pro-list a { margin-left: 15px; }
  .pro-list { margin-left: -15px; }
  .pro-list li { margin-bottom: 15px; }
  .pro-a .ti1 { font-size: 12px; line-height: 36px; }
  .pro2 { padding-top: 50px; padding-bottom: 55px; }
  .pro2 .pro-list { margin-bottom: 35px; }
  .pi-num { display: none; }
  .pro-imgs .slick-prev { -webkit-transform-origin: left center; transform-origin: left center; -webkit-transform: scale(0.8); transform: scale(0.8); }
  .pro-imgs .slick-next { -webkit-transform-origin: right center; transform-origin: right center; -webkit-transform: scale(0.8); transform: scale(0.8); }
  .pro3 .freeTx { margin-top: 35px; }
  .pd-back a { font-size: 15px; }
  .pd-back .next .bico { -webkit-transform-origin: left center; transform-origin: left center; -webkit-transform: scale(0.8); transform: scale(0.8); margin-right: 0; }
  .pd-back .prev .bico { -webkit-transform-origin: right center; transform-origin: right center; -webkit-transform: scale(0.8); transform: scale(0.8); margin-left: 0; }
  .pd-back .next, .pd-back .prev { margin-bottom: 25px; }
  .pro3 .pd-back { margin-top: 85px; }
  .pro3 { padding: 40px 0 55px 0; }
  .par1 .ir-list .nowti { padding-left: 15px; padding-right: 80px; }
  .par1 .ir-list .date { font-size: 12px; }
  .par1 .ir-list { margin-top: 25px; }
  .par1 .pager { margin-top: 35px; }
  .par1 { padding: 50px 0 55px 0; }
  .bid-a .nowti { font-size: 18px; }
  .par1 .bid-list { margin-bottom: 45px; margin-top: 20px; }
  .wtb-list li + li { margin-top: 25px; }
  .wtb-list .ti { font-size: 15px; }
  .wtb-list .freeTx { padding-top: 25px; padding-bottom: 35px; }
  .job-list .jw1 .nowti { padding-left: 15px; }
  .job-list .b { padding: 23px 15px 35px 15px; }
  .jb1 { padding: 50px 0; }
  .jb2 .job-list { margin-top: 58px; }
  .jb2 { padding: 50px 0 55px 0; }
  .iv-table td:first-child { text-align: left; }
  .iv1 { padding: 50px 0 55px 0; }
  .iv1 .iv-table { margin-bottom: 20px; }
  .iv-a .bico { -webkit-transform: scale(0.5); transform: scale(0.5); }
  .iv1 .inv-list { margin-bottom: 50px; }
  .book-list .pic { width: 105px; margin-right: 15px; }
  .book-list .nowti { float: none; margin-right: 0; color: #333; font-size: 18px; }
  .book-list .t { font-size: 12px; color: #666; }
  .book-list .btn .ico { display: none; }
  .book-list .btn { font-size: 12px; text-align: center; width: 100px; padding: 2px 0; }
  .book-list .btn + .btn { margin-top: 5px; }
  .book-list .btn { margin-top: 20px; }
  .ab6 .book-list { margin-bottom: 15px; }
  .pbanner .en { font-size: 12px; margin-bottom: 3px; }
  .pro3 .ab-ti span{ display: block; margin: 5px 0 0; font-size: 12px; }
}
@media screen and (max-width:321px) {
  .vwrap .videobox { height: 260px; margin-top: -130px; }
  .menuBox { width: 260px; right: -260px; }
  .pro-nav { width: 300px; }
}
